*~
*.aux
*.fls
*.log
*.fdb_latexmk
volume-*.pdf
*.bbl
*.blg
tests/tables.pdf
.DS_Store
.svn

*.lof
*.lot
*.nlo
*.toc
*.out
*.brf
*.tdo
annex-*.pdf
*.gz
*.pyc
.~lock.*
junk
build
.lock-waf*
.waf-*
*.zip
install
test.tex
foo
auto
executive-summary.pdf
far-detector-dual-phase.pdf
far-detector-single-phase.pdf
software-computing.pdf
